@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKing.Models.Gummi>

<ul>
    @foreach (var listGummi in Model)
    {
        <li>@Html.DisplayFor(modelItem => listGummi.Name)</li>
    }
</ul>