@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKing.Models.Gummi>

<ul>
    @foreach (var listGummi in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => listGummi.Name) |
            @Html.ActionLink("Details", "Details", new { id = listGummi.GummiId }) |
            @Html.ActionLink("Delete", "Delete", new { id = listGummi.GummiId })
        </li>
    }
    <p>@Html.ActionLink("Add new item", "Create")</p>
</ul>